<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Modelo do Site - Cafeteria</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="css/cafeteria.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/materialize.min.css">

</head>
<body>
	<header>
	<nav class="orange darken-4">

		<!--permitir que o links troquem de posição indo para o 
			icone hamburguer quando a página ficar muito pequena
		-->
	
	<div class="nav-wrapper">
		<a href="index.html" class="brand-logo">CB</a>
		
		<a href="#" data-activates="mobile-demo" class="button-collapse">Menu > 
		</a>
		
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="index.html">Home</a></li>
			<li><a href="contato.html">Trabalhe Conosco</a></li>
		</ul>


		<ul class="side-nav" id="mobile-demo">
			<li><a href="index.html">Home</a></li>
			<li><a href="contato.html">Trabalhe Conosco</a></li>
		</ul>


		</div>

	</nav>	
	</header>
	<main>
        <h1>
            {{submission_result}}
        </h1>
    </main>
	<footer>
		
		<div id="endereco">
			Av. Luiz bla bla, 9109 - Jardim do lado de la - Soa - PP<br>
			Telefone: 11 - 0000-00009 | 11 - 0000-00009<br>
			<a href="mailto:contato@cafeteriacafeteriacafeteria.com?Subject=contato&cc=contato2@cafeteria.com.br&body=Obrigado por enviar sua mensagem">
				contato@cafeteriacafeteriacafeteria.com.br
			</a>

		</div>


		<div id="redes">
			<ul>
				<li><a href="http://www.facebook.com" target="_blank">
					<i class="fa fa-facebook"></i> Facebook</a>
				</li>
				
				<li><a href="http://www.twitter.com" target="_blank">
					<i class="fa fa-twitter"></i> Twitter</a>
				</li>

				<li><a href="http://www.instagram.com" target="_blank">
					<i class="fa fa-instagram"></i> Instagram</a>
				</li>
			</ul>
			
		</div>

	</footer>	
</body>

</html>